---
import styles from "./theme-switcher.module.css";
---

<select class={styles.ThemeSwitcher} name="themeSwitcher" id="themeSwitcher">
  <option value="auto">Auto</option>
  <option value="light">Light theme</option>
  <option value="dark">Dark theme</option>
</select>

<script>
  const html = document.documentElement;
  const themeSwitcher: HTMLSelectElement | null =
    document.querySelector("#themeSwitcher");

  const setTheme = (theme: string) => {
    html.dataset.theme = theme;
    localStorage.setItem("theme", theme);
  };

  themeSwitcher?.addEventListener("change", () => {
    localStorage.setItem("theme", themeSwitcher?.value);
    setTheme(themeSwitcher?.value);
  });

  if (localStorage.theme && themeSwitcher) {
    themeSwitcher.value = localStorage.theme;
  }
</script>
