{
  "presets": [["next/babel"]],
  "env": {
    "production": {
      "plugins": [
        ["babel-plugin-jsx-remove-data-test-id", {
          "attributes": ["data-cy"]
        }]
      ]
    }
  }
}
