{
  "extends": ["stylelint-config-equinusocio"],
  "ignoreFiles": [
    "!**/*.css",
    "!**/*.module.css",
    "**/*.tsx",
    "**/*.astro",
    "node_modules"
  ],
  "rules": {
    "import-notation": "string"
  }
}
