@media (prefers-color-scheme: dark) {
  :root {
    --global-background: var(--color-100);
    --global-foreground: var(--color-10);
    --mark-color-cyan: #065a75;
    --mark-color-green: #007a4f;
    --mark-color-pink: #6a1036;

    /* Header */

    --header-navigation-item-foreground: var(--color-0);

    /* Label */

    --label-foreground: var(--color-40);

    /* PostCard */

    --post-dard-counter-foreground: var(--color-90);

    /* Separator */

    --separator-color: var(--color-80);
  }
}
