:root {
  --global-background: var(--color-0);
  --global-foreground: var(--color-70);
  --headings-foreground: var(--color-100);
  --mark-color-cyan: #b0e9fb;
  --mark-color-green: #ccffed;
  --mark-color-pink: #f9d8e6;
  --inline-code-background: var(--color-10);

  /* Header */

  --header-navigation-item-foreground: var(--color-100);

  /* Label */

  --label-foreground: var(--color-60);

  /* PostCard */

  --post-dard-counter-foreground: var(--color-10);

  /* Separator */

  --separator-color: var(--color-20);

  /* Button */

  --button-foreground: var(--color-0);

  /* PostNavigation */

  --post-navigation-border-color: var(--color-10);
}
