.IframesWrapper {
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 0 32px;

  & > iframe {
    background-color: var(--iframe-wrapper-background);
    border-radius: 8px;
    border: var(--ne-code-border, 1px solid #e3e3e3);
  }

  & > iframe[src^='https://glitch.com'] {
    border-radius: 5px 12px 6px 11px;
    overflow: hidden;
  }
}
