@custom-selector :--headings h2, h3, h4, h5;

.PostContent {
  margin: 0 auto;
  max-width: 52ch;
  padding: 0 16px;
}

.PostContent__Header {
  padding: 40px 0;
  text-align: center;
  margin-bottom: 80px;

  & h1 {
    margin-bottom: 88px;
  }

}

.PostContent :--headings {
  margin-top: 88px;
}
