html {
  font-size: 112.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: 1.5;
  background: var(--global-background);
  font-family: 'Times New Roman', sans-serif;
  color-scheme: light dark;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
  cursor: none;
}

*:focus-visible {
  outline: 2px solid var(--global-foreground);
  outline-offset: 2px;
}

body {
  color: var(--global-foreground);
  font-family: Comfortaa, cursive;
  font-feature-settings: 'calt' off;
  font-size: 1rem;
  margin: 0;
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

::selection {
  background-color: var(--dimmed-2);
  color: var(--global-background);
  text-shadow: none;
}

img {
  display: block;
  inline-size: 100%;
  max-inline-size: 100%;
}

svg:not([fill]) {
  fill: currentcolor;
}

fieldset {
  border: 0;
}

a {
  text-decoration: none;
  color: var(--global-foreground);
}
