:root {
  --global-foreground: #252C37;
  --global-background: var(--stone-0);
  --dimmed-0: var(--stone-2);
  --dimmed-1: var(--stone-5);
  --dimmed-2: var(--stone-9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --global-foreground: var(--stone-0);
    --global-background: var(--gray-12);
    --dimmed-0: var(--stone-9);
    --dimmed-1: var(--stone-5);
    --dimmed-2: var(--stone-2);
    --filter: invert();
  }
}
