@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--blocks h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dd, p, figure, pre, table, fieldset, hr;

* {
  margin: 0;
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  background-color: var(--global-background);
  font-size: 137%; /* = 22px => 100 : 16 = 22 = 137 */
  box-sizing: border-box;
}

body {
  color: var(--global-foreground);
  font-family: Roboto, sans-serif;
  font-size: var(--bodyFontSize);
  font-weight: 400;
  line-height: 1.5;
  counter-reset: post-counter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex='-1'] {
  outline: none;
}

*:not([tabindex='-1']):focus {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}


[data-whatintent='mouse'] *:focus,
[data-whatintent='touch'] *:focus {
  outline: none;
}

img {
  max-width: 100%;
}

svg {
  fill: currentColor;
}

[data-prose] {
  & > :--blocks {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  & > :--headings {
    margin-bottom: 0;
  }

  & > :--headings + p {
    margin-top: calc(2rem / 2);
  }
}

ul:not([class]) {
  list-style-type: none;
  padding: 0;

  & li {
    padding: 8px 0 8px 1.33rem;
    position: relative;

    &::before {
      content: '::';
      background-image:
        linear-gradient(
          180deg,
          hsl(var(--accent-color)),
          hsl(var(--gradient-color-1))
        );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      position: absolute;
      left: 0;
      display: inline-block;
    }
  }
}

code {
  padding: 0 4px 2px;
  border-radius: 4px;
  font-size: 0.9em;
  background-color: var(--inline-code-background);
}
