* {
  margin: 0;
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  background-color: var(--global-background);
  font-size: 137%;
  box-sizing: border-box;
}

body {
  color: var(--global-foreground);
  font-family: Roboto, sans-serif;
  font-size: var(--bodyFontSize);
}

[tabindex='-1'] {
  outline: none;
}

*:not([tabindex='-1']):focus {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}


[data-whatintent='mouse'] *:focus,
[data-whatintent='touch'] *:focus {
  outline: none;
}

svg {
  fill: currentColor;
}
