html {
  transition: color 80ms, background-color 80ms;
}

body {
  font-family: system-ui, sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-whatintent='mouse'] a:focus,
[data-whatintent='mouse'] a:visited:focus {
  outline: none;
}

svg {
  fill: currentColor;
}
