.NeumoBig {
  box-shadow:
    -12px -12px 28px var(--neumo-light-shadow-color),
    12px 12px 28px var(--neumo-dark-shadow-color);
}

.NeumoSmall {
  box-shadow:
    -4px -4px 8px var(--neumo-light-shadow-color),
    4px 4px 8px var(--neumo-dark-shadow-color);
}
