.NeumoBig {
  transition: box-shadow 80ms linear;
  box-shadow:
    -12px -12px 28px var(--neumo-light-shadow-color),
    12px 12px 28px var(--neumo-dark-shadow-color);
}

.NeumoSmall {
  transition: box-shadow 80ms linear;
  box-shadow:
    -4px -4px 8px var(--neumo-light-shadow-color),
    4px 4px 8px var(--neumo-dark-shadow-color);
}

.Bleeding {
  width: 100vw;
  max-width: 60ch;
  margin-left: calc(50%);
  transform: translateX(-50%);
}
