/* Import themes */

@import 'modern-normalize/modern-normalize.css';
@import './dark-theme.pcss';
@import './light-theme.pcss';

/* Import Native Elmenets */

@import '@native-elements/core';

/* Import core files */

@import './core/*.pcss';

/* Import modules */

@import './components/*.pcss';
