.Social {
  position: relative;
  height: 32px;
  border-radius: 40%;
  scale: 0;
  transform-origin: 50% 16px;
  animation: scale-in var(--delay) 3.4s var(--ease-in-out-3) forwards;

  & svg {
    pointer-events: none;
    z-index: -1;
  }
}

.Label {
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-size: var(--font-size-0);
  letter-spacing: 0.2ch;
  writing-mode: vertical-rl;
  position: absolute;
  font-style: normal;
  top: 48px;
  opacity: 0%;
  translate: -50% -10% 0;
  transition: all 0.4s var(--ease-squish-3);
  left: 50%;

  @nest .Social:is(:hover, :focus) & {
    translate: -50% 0 0;
    opacity: 100%;
  }
}

@keyframes scale-in {
  100% {
    scale: 1;
  }
}
