{% extends 'layouts/base.njk' %}
{% from "../tag-list.njk" import tagList %}

{% block head %}
  {% if config.syntaxTheme %}
    <link rel="stylesheet" href="/assets/css/{{ config.syntaxTheme }}" />
  {% endif %}
{% endblock %}

{% block content %}
  <main tabindex="-1" class="BaseLayout">
    {% include "header.njk" %}
    <article class="PostContent">
      <header class="PostContent__Header">
        {% if title %}
          <h1>{{ title }}</h1>
        {% endif %}
        {{ tagList(tags) }}
      </header>
      {{content | safe}}
    </article>
  </main>
{% endblock %}
