{% extends 'layouts/base.njk' %}
{% from "../tag-list.njk" import tagList %}

{% block head %}
  {% if config.syntaxTheme %}
    <link rel="stylesheet" href="/assets/css/{{ config.syntaxTheme }}" />
  {% endif %}
{% endblock %}

{% block content %}
  <main tabindex="-1" class="BaseLayout">
    <section class="BaseLayout__LeftSide">
      {% include "header.njk" %}
    </section>
    <article class="PostContent">
      <header class="PostContent__Header">
        <div class="PostContent__SubHeader">
          {% if title %}
            <h1>{{ title }}</h1>
          {% endif %}
          <small>{{ content | readingTime }} minutes read</small>
        </div>
        {{ tagList(tags) }}
      </header>
      {{content | safe}}
    </article>
  </main>
{% endblock %}
