<header>
  {% if config.navigation %}
    <nav>
      {% for item in config.navigation %}
        <a
          href="{{ item.url }}"{{ relExternal | safe }}{{ isCurrent | safe }}
          {% if page.url == item.url %} aria-current="page" {% endif %}
          {% if item.external == item.url %} rel="external" target="_blank" {% endif %}
        >
          <b>{{ item.text }}</b>
        </a>
      {% endfor %}
    </nav>
  {% endif %}
  {% include "theme-switcher.njk" %}
</header>
