{% from "stack.njk" import Stack %}
{% from "container.njk" import Container %}

{% call Container() -%}
  <header class="Header">
    {% call Stack(inline=true, verticalAlign="center") -%}
      {# Navigation #}
      {% if config.navigation %}
        <nav class="Header__Navigation">
          {% call Stack(inline=true) -%}
            {# Colorful logo #}
            <a href="/" aria-label="Home" {% if page.url == '/' %} aria-current="page" {% endif %} class="Header__Logo" ></a>

            {# Navigation items #}
            {% for item in config.navigation %}
              <a
                class="Header__NavigationItem"
                href="{{ item.url }}"
                {% if page.url == item.url %}  aria-current="page" {% endif %}
                {% if item.external == item.url %} rel="external" target="_blank" {% endif %}
              >
                <b>{{ item.text }}</b>
              </a>
            {% endfor %}
          {%- endcall %}
        </nav>
      {% endif %}
    {%- endcall %}

    {# Theme Switcher #}
    {% include "theme-switcher.njk" %}
  </header>
{% endcall %}
