:root {

  /* Base Colors */

  --color-100: #08080c;
  --color-90: #161a1d;
  --color-80: #333d46;
  --color-70: #44515d;
  --color-60: #576776;
  --color-50: #6d8193;
  --color-40: #8e9dab;
  --color-30: #b3bdc7;
  --color-20: #e3e7ea;
  --color-10: #f8f9f9;
  --color-0: #fff;

  /* Semantic Color */

  --accent-color: 358 100% 77%;
  --gradient-1: 320 100% 68%;
  --gradient-2: 32 100% 68%;
}
