.Button {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  align-items: center;
  padding: 0.36rem 0.72rem;
  color: var(--color-100);
  font-weight: 700;
  font-size: 0.72rem;
  font-family: inherit;
  border: 0;
  border-radius: 8px;
  background-image:
    radial-gradient(
      circle at top left,
      hsl(var(--gradient-color-1)),
      hsl(var(--gradient-color-2)) 120%
    );

  &::before {
    --size: 300px;

    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, var(--color-20), transparent);
    transform: translate(-50%, -50%);
    transition: opacity 0.25s ease;
    opacity: 0;
    z-index: 1;
  }

  &:hover::before {
    opacity: 0.4;
  }

  & svg {
    margin-left: 0.32rem;
    pointer-events: none;
  }

  & span {
    position: relative;
  }
}

