.Container {
  &[data-container-fullwidth='false'] {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
  }

  &[data-container-padding='true'] {
    padding:
      0
      calc(env(safe-area-inset-right) + 0.88rem)
      0
      calc(env(safe-area-inset-left) + 0.88rem);

    @media (--from-medium) {
      padding: 0 4rem;
    }
  }

  &[data-container-small='true'] {
    max-width: 70ch;
  }
}
