.Container {
  &[data-container-fullwidth='false'] {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
  }

  &[data-container-padding='true'] {
    padding:
      0
      calc(env(safe-area-inset-right) + 1.09rem)
      0
      calc(env(safe-area-inset-left) + 1.09rem);

    @media (width >= 60em) {
      padding: 0 4rem;
    }
  }
}
