.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 0;
  font-size: 0.8rem;
  z-index: 3;
  position: relative;

  @media (--from-medium) {
    padding: 1.8rem 0;
  }
}

.Header__Logo {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background:
    linear-gradient(
      135deg,
      hsl(var(--gradient-color-1)) 0%,
      hsl(var(--gradient-color-2)) 100%
    );

  &:active {
    animation: rubber 0.5s;
    animation-direction: alternate;
  }
}

.Header__NavigationItem {
  position: relative;
  color: var(--header-navigation-item-foreground);
  text-decoration: none;

  &[aria-current='page']::after {
    pointer-events: none;
    position: absolute;
    top: calc(100% + 0.18rem);
    left: -0.18rem;
    right: -0.18rem;
    background-color: hsl(var(--accent-color));
    height: 4px;
    border-radius: 4px;
    display: block;
    content: '';
    animation-name: scaleX;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  }
}

@keyframes scaleX {
  0% {
    transform: scaleX(var(--fromX, 0));
  }

  100% {
    transform: scaleX(var(--toX, 1));
  }
}
@keyframes rubber {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
