.PortfolioCard {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  color: var(--color-0);
  border-radius: 16px;
  outline-offset: -5px;
  background:
    linear-gradient(
      139.15deg,
      var(--c1) 0%,
      var(--c2) 100%
    );

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc((1 / 1) * 100%);
  }

  &::after {
    --size: 600px;

    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, var(--color-20), transparent);
    transform: translate(-50%, -50%);
    transition: opacity 0.1s ease;
    opacity: 0;
    z-index: 1;
    mix-blend-mode: overlay;
  }

  &:hover::after {
    opacity: 1;
  }

  & > * {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.PortfolioCard__Content {
  padding: 0.72rem 1.09rem;
}

.Label.PortfolioCard__Label {
  color: inherit;
  opacity: 0.7;
}

.PortfolioCard__Text {
  line-height: 1.2;
}
