.Socials {
  margin-top: 88px;

  & svg {
    width: 24px;
    height: 24px;
    fill: var(--contrast-color);
    transition: transform 200ms;
    pointer-events: fill;

    &:hover {
      fill: var(--accent-color);
    }
  }
}

.Socials__List {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-grid;
  grid-gap: 24px;
  grid-auto-flow: column dense;
}
