.TagList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-grid;
  grid-auto-flow: column dense;
  grid-gap: 8px;
}

.TagList__Tag {
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.87rem;
  font-weight: 700;
}
