---
import Media from "@/components/media/media.astro";
import Stack from "@/components/stack/stack.astro";
import BaseLayout from "@/layouts/base-layout.astro";
---

<BaseLayout>
  <Media />
  <main>MAIN</main>
</BaseLayout>
