---
import Social from "@/components/social/social.astro";
import Stack from "@/components/stack/stack.astro";
import Github from "@/icons/github.astro";
import Twitter from "@/icons/twitter.astro";
import BaseLayout from "@/layouts/base-layout.astro";

import styles from "./index.module.css";
import ThemeSwitcher from "@/components/theme-switcher/theme-switcher.astro";
import Media from "@/components/media/media.astro";
import Lab from "@/icons/lab.astro";
import Photo from "@/icons/photo.astro";
---

<BaseLayout>
  <Stack as="main" rowGap="min(300px, 20vh)" hAlign="center" hPadding="32px">
    <span>equinusocio</span>
    <Stack hAlign="center" fill={false} rowGap="24px">
      <h1 class={styles.DisplayTitle}>MATTIA ASTORINO</h1>
      <Stack as="address" direction="row" columnGap="24px">
        <Social
          href="https://twitter.com/equinusocio"
          label="Social"
          delay="1s"
        >
          <Twitter slot="icon" />
        </Social>
        <Social href="https://github.com/equinusocio" label="Code" delay="1.5s">
          <Github slot="icon" />
        </Social>
        <Social
          href="https://print.astorinomattia.com"
          label="Photo"
          delay="2s"
        >
          <Photo slot="icon" />
        </Social>
        <Social href="https://codepen.io/equinusocio" label="Lab" delay="2.5s">
          <Lab slot="icon" />
        </Social>
      </Stack>
    </Stack>
    <p>
      Lead UI Engineer @ <a
        href="https://lualtek.io"
        target="_blank"
        rel="noopener noreferrer"
      >
        <strong>Lualtek.io</strong>
      </a>
    </p>
    <ThemeSwitcher />
  </Stack>
  <Media />
</BaseLayout>
