{% macro postNavigation(prev, next) %}
  <nav class="PostNavigation">
    {% if prev %}
      <a class="PostNavigation__Item" href="{{ prev.url }}">
        <svg width="24" height="24" viewBox="0 0 24 24"><g stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"><path d="M22 12H2M9 19l-7-7 7-7"/></g></svg>
        <b>Previous story</b>
        <br />
        {# <small>{{ prev.data.title }}</small> #}
      </a>
    {% endif %}
    {% if next %}
      <a class="PostNavigation__Item" href="{{ next.url }}">
        <b>Next story</b>
        <svg width="24" height="24" viewBox="0 0 24 24"><g stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"><path d="M2 12h20M15 5l7 7-7 7"/></g></svg>
        <br />
        {# <small>{{ next.data.title }}</small> #}
      </a>
    {% endif %}
  </nav>
{% endmacro %}
