{% from "post-card.njk" import postCard %}

{% macro postList(postsList) %}
{% if postsList.length %}
  <section class="PostList">
    {% for item in postsList %}
      {% if item.externalUrl %}
        {% set isExternal = true %}
        {% set postUrl = item.externalUrl %}
      {% else %}
        {% set postUrl = item.slug %}
        {% set isExternal = false %}
      {% endif %}
      {{ postCard(postUrl, item.title, item.date, item.description, isExternal) }}
    {% endfor %}
  </section>
{% endif %}
{% endmacro %}
