{% from "post-card.njk" import postCard %}

{% macro postList(postsList) %}
{% if postsList.length %}
  <div class="GridList" data-controller="post-list" >
    {% for item in postsList | reverse %}
      {% if item.data.external_url %}
        {% set isExternal = true %}
        {% set postUrl = item.data.external_url %}
      {% else %}
        {% set postUrl = item.url %}
        {% set isExternal = false %}
      {% endif %}
      {{ postCard(postUrl, item.data.title, item.date, item.data.metaDesc, isExternal) }}
    {% endfor %}
  </div>
{% endif %}
{% endmacro %}
