.Video {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  pointer-events: none;
  position: fixed;
  object-fit: cover;
  z-index: -1;
  opacity: 10%;
  filter: grayscale();
  mix-blend-mode: difference;
}

