---
layout: home
title: What I do
maxPosts: 3
---

{% from "stack.njk" import Stack %}
{% from "container.njk" import Container %}
{% from "slider.njk" import Slider %}
{% from "portfolio-card.njk" import PortfolioCard %}
{% from "post-card.njk" import PostCard %}
{% from "section.njk" import Section %}
{% from "mark.njk" import Mark %}

{% call Stack(columns=1, rowGap="min(16vw, 4.72rem)") -%}
  {% call Container() -%}
    {% call Stack(columns=1, rowGap="1.09rem") -%}
      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}
      {% call Stack(inline=true, columns=1, horizontalAlign="start") -%}
        <div>
          {% call Stack(columns=2, columnGap="4rem", rowGap="1.81rem", verticalAlign="start") -%}
            {% call Stack(columns=1, rowGap="1.81rem") -%}
              <p data-width="small">I’m Mattia Astorino. As {% call Mark(color="var(--mark-color-cyan)") -%}UX Engineer{% endcall %} I build web interfaces, components library and design systems with a special love to CSS.</p>
              <p data-width="small">I’m also an {% call Mark(color="var(--mark-color-green)") -%}open-source developer{% endcall %}, and in my spare time I do {% call Mark(color="var(--mark-color-pink)") -%}photography{% endcall %} and digital art with my iPad Pro.</p>
            {% endcall %}

            {% include "socials.njk" %}
          {% endcall %}
        </div>
      {% endcall %}
    {% endcall %}
  {% endcall %}

  {% call Section(title="Public artifacts") -%}
    {% call Slider() -%}
      {% for item in portfolio %}
        {{ PortfolioCard(
          label=item.label,
          title=item.title,
          text=item.text,
          url=item.url,
          color1=item.color1,
          color2=item.color2
        )}}
      {% endfor %}
    {% endcall %}
  {% endcall %}

  {% if collections.posts.length %}
    {% call Section(title="Latest stories", url="/blog") -%}
      {% call Slider(desktopColumnSize="35ch", columnGap="4rem") -%}
        {% for item in collections.posts | reverse %}

          {% if item.data.external_url %}
            {% set isExternal = true %}
            {% set postUrl = item.data.external_url %}
          {% else %}
            {% set postUrl = item.url %}
            {% set isExternal = false %}
          {% endif %}

          {% if loop.index <= maxPosts %}
            {{ PostCard(postUrl, item.data.title, item.date, item.data.metaDesc, isExternal) }}
          {% endif %}

        {% endfor %}
      {% endcall %}
    {% endcall %}
  {% endif %}
{% endcall %}
