---
layout: page
metaTitle: Tag
description: Categories page description
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /blog/tag/{{ tag | slug }}/
---
{% from "postItem.njk" import postItem %}
{% from "stack.njk" import Stack %}
{% from "container.njk" import Container %}
{% from "post-card.njk" import PostCard %}

{% call Container() -%}
  {% call Stack(columns=1, rowGap="min(16vw, 4.72rem)") -%}
    {% call Stack(columns=1, rowGap="0.88rem") -%}
      <h1>#{{ tag }}</h1>
      <small>{{ collections[tag].length }} posts published</small>
    {% endcall %}

    {% if collections.posts.length %}
      {% call Stack(columns=1, rowGap="1rem", horizontalAlign="start") -%}
        {% for item in collections.posts | reverse %}

            {% if item.data.external_url %}
              {% set isExternal = true %}
              {% set postUrl = item.data.external_url %}
            {% else %}
              {% set postUrl = item.url %}
              {% set isExternal = false %}
            {% endif %}

            {{ PostCard(postUrl, item.data.title, item.date, item.data.metaDesc, isExternal, compact=true) }}
        {% endfor %}
      {% endcall %}
    {% endif %}
  {% endcall %}
{% endcall %}
