.Media {
  --circles-size: 1450px;

  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
  contain: style content;
  mask-image:
  linear-gradient(to bottom, transparent 0%, red 150px);
}

.Diagonal {
  height: 1px;
  width: var(--diagonal, 9999px);
  top: 0;
  position: absolute;
  background: var(--dimmed-0);
  scale: 0;
  animation: scale-in 3s var(--ease-in-out-3) forwards;

  &[data-diagonal='left'] {
    transform-origin: 0 0;
    left: 0;
    rotate: var(--angle);
  }

  &[data-diagonal='right'] {
    transform-origin: 100% 0;
    right: 0;
    rotate: calc(var(--angle) * -1);
  }
}

.Circles {
  width: var(--circles-size);
  height: var(--circles-size);
  position: absolute;
  left: 50%;
  top: 50%;
  translate: calc((var(--circles-size) / 2) * -1)  calc((var(--circles-size) / 2) * -1);
}

.Rotate {
    --duration: 20s;

    animation: rotate var(--duration, 400s) linear infinite;
    transform-origin: 50% 50%;

  &[data-rotation-direction='reverse'] {
    animation-direction: reverse;
  }

  &[data-rotation-duration='slow'] {
    --duration: 600s;
  }

  &[data-rotation-duration='fast'] {
    --duration: 200s;
  }
}

@keyframes scale-in {
  100% {
    scale: 1;
  }
}
@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}