.Media {
  --circles-size: 1450px;
  --role-size: 1246px;
  --skills-size: 1008px;

  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
  contain: style;
  opacity: 70%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    animation: zoom-in 3s var(--ease-out-5) 1;
  }

  &::before {
    inset: 24px 20%;
    border-top: 1px solid var(--dimmed-1);
    border-bottom: 1px solid var(--dimmed-1);
  }

  &::after {
    inset: 10% 24px;
    border-left: 1px solid var(--dimmed-1);
    border-right: 1px solid var(--dimmed-1);
  }
}

.Diagonal {
  height: 1px;
  width: var(--diagonal, 9999px);
  top: 0;
  position: absolute;
  background: var(--dimmed-0);
  scale: 0;
  animation: scale-in 3s var(--ease-in-out-3) forwards;

  &[data-diagonal='left'] {
    transform-origin: 0 0;
    left: 0;
    rotate: var(--angle);
  }

  &[data-diagonal='right'] {
    transform-origin: 100% 0;
    right: 0;
    rotate: calc(var(--angle) * -1);
  }
}

.Canvas {
  filter: var(--filter);
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50% 0;
  user-select: none;
}


@keyframes zoom-in {
  0% {
    scale: 1.02;
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }
}
@keyframes scale-in {
  100% {
    scale: 1;
  }
}
@keyframes rotate {
  100% {
    rotate: 1turn;
  }
}
