{% from "stack.njk" import Stack %}

<!doctype html>
<html lang="{{ config.lang }}" data-theme="auto" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ config.url }}/feed.xml"/>
    <meta name="color-scheme" content="dark light">

    {# Icons #}
    <link rel="icon" href="/favicon.png" type="image/png"/>

    {# Social and metas #}
    {% include "meta.njk" %}

    {# Warmup #}
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    {# Google Fonts #}
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" media="print" onload="this.media='all'" />
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" />
    </noscript>

    {# Styles #}
    {# <link rel="stylesheet" href="/css/index.css" /> #}
    <noscript>
      <link rel="stylesheet" href="/css/index.css" />
    </noscript>
    <link rel="preload" href="/css/index.css" as="style">
    <link rel="stylesheet" href="/css/index.css">

    {# Scripts #}
    <script src="https://cdn.jsdelivr.net/npm/what-input@5.2.6/dist/what-input.min.js" defer></script>
    <script type="module" src="/js/app.js" defer></script>
    <script type="text/javascript">
      document.documentElement.dataset.theme = localStorage.getItem('theme') || 'auto';

      {% if not env.IS_DEV %}
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
      {% endif %}

      window.GUMLET_CONFIG = {
          hosts: [{
              current: "equinusocio.dev",
              gumlet: "eqsc.gumlet.io"
          }]
      };
      (function(){d=document;s=d.createElement("script");s.src="https://cdn.gumlet.com/gumlet.js/2.0/gumlet.min.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
    </script>
    {% block head %}{% endblock %}
  </head>
  <body data-controller="audio-fx button cursor" data-barba="wrapper">
    {% include "cursor.njk" %}
    {% include "transition.njk" %}
    {% call Stack(rowGap="2.18rem", columns=1, verticalAlign="start") -%}
      {% include "header.njk" %}
      <main tabindex="-1" data-barba="container" data-barba-namespace="{{ title }}">
        {% block content %}{% endblock content %}
      </main>
    {% endcall %}
  </body>
</html>
