<!doctype html>
<html lang="{{ config.lang }}" data-theme="auto" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ config.url }}/feed.xml"/>
    {% include "meta.njk" %}
    <link rel="icon" href="/favicon.png" type="image/png"/>
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1/modern-normalize.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@native-elements/core@1/native-elements.css"/>
     {% block head %}{% endblock %}
    <link rel="stylesheet" href="/static/css/theme.css" />
    <link rel="stylesheet" href="/static/css/app.css" />
    <script src="https://cdn.jsdelivr.net/npm/what-input@5.2.6/dist/what-input.min.js" defer></script>
    <script type="module" src="/static/js/app.js" defer></script>
  </head>
  <body>
    {% block content %}{% endblock content %}
    <script>
      document.documentElement.dataset.theme = localStorage.getItem('theme') || 'auto';

      {% if not env.IS_DEV %}
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
      {% endif %}
    </script>
  </body>
</html>
