{% extends 'layouts/base.njk' %}
{% from "grid.njk" import Grid %}

{% block content %}
  <main tabindex="-1">
    {% call Grid(rowGap="2.18rem", columns=1, verticalAlign="start") -%}
      {% include "header.njk" %}
      {{ content | safe }}
    {% endcall %}
  </main>
{% endblock %}
