{% extends 'layouts/base.njk' %}
{% from "stack.njk" import Stack %}

{% block content %}
  <main tabindex="-1">
    {% call Stack(rowGap="2.18rem", columns=1, verticalAlign="start") -%}
      {% include "header.njk" %}
      {{ content | safe }}
    {% endcall %}
  </main>
{% endblock %}
