{% extends 'layouts/base.njk' %}
{% from "stack.njk" import Stack %}
{% from "container.njk" import Container %}

{% block content %}
  <div>
    {% call Container() -%}
      {% call Stack(columns=1, rowGap="1.09rem") -%}
        {% if title %}
          <h1>{{ title }}</h1>
        {% endif %}
      {% endcall %}
    {% endcall %}

    {{ content | safe }}
  </div>
{% endblock %}

