{% extends 'layouts/base.njk' %}
{% from "stack.njk" import Stack %}
{% from "container.njk" import Container %}

{% block content %}
  <main tabindex="-1">
  {% call Stack(rowGap="2.18rem", columns=1, verticalAlign="start") -%}
    {% include "header.njk" %}

    {% call Container() -%}
      {% call Stack(columns=1, rowGap="1.09rem") -%}
        {% if title %}
          <h1>{{ title }}</h1>
        {% endif %}
      {% endcall %}
    {% endcall %}

    {{ content | safe }}
  {% endcall %}
  </main>
{% endblock %}

