---
layout: page
title: Blog
---
{% from "postItem.njk" import postItem %}

{% set postList = collections.posts %}
{% if collections.posts.length %}
  <section css-module="PostList">
    <ol reversed>
      {% for item in postList %}
        {% if not loop.first %}
          <hr/>
        {% endif %}
        {{ postItem(item.url, item.data.title, item.date) }}
      {% endfor %}
    </ol>
  </section>
{% endif %}
