---
metaTitle: Home
---
{% extends 'layouts/home.njk' %}

{% block leftContent %}
<p>I’m Mattia Astorino. I work as <em>UX Engineer</em> and open source developer. Photographer in my spare time.</p>
{% endblock leftContent %}
