---
layout: page
metaTitle: Tag
description: Categories page description
pagination:
  data: tags
  size: 1
  alias: tag
permalink: /blog/tag/{{ tag }}/
---
{% extends 'layouts/page.njk' %}

{% block leftContent %}
  <p class="PageDescription">I’m Mattia Astorino. I work as <em>UX Engineer</em>, <em>designer</em> and <em>open source developer</em>. Photographer in my spare time.</p>
  {% include "./components/socials.njk" %}
{% endblock leftContent %}

{% block rightContent %}
{% include "./components/post-list.njk" %}
{% endblock rightContent %}
