.Cursor {
  --size: 64px;

  display: none;
  width: var(--size);
  height: var(--size);
  position: fixed;
  z-index: 0;
  left: var(--x);
  top: var(--y);
  pointer-events: none;
  transition: scale 0.8s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.8s linear;
  translate: -50% -50%;
  scale: var(--scale);
  opacity: var(--opacity, 0%);
  backdrop-filter: invert();
  border-radius: 100%;

  @media (width >= 30em) {
    display: block;
  }
}

.InnerCircle {
  transform-origin: center;
  animation: rotate 15s linear infinite;
}

.Line {
  transform-origin: center;
  transition: rotate 0.8s cubic-bezier(0.16, 1, 0.3, 1);

  @nest .Cursor[data-hover-interaction='true'] & {
    rotate: 44deg;
  }
  @nest .Cursor[data-hover-interaction='true'] &:nth-child(2) {
    rotate: -44deg;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
